@model WebApplication2.Models.Entity.tablomüsteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<form class="form-group" method="post">

    <div>
        <label>Müşteri Adı</label>
       
            @Html.TextBoxFor(m => m.müsteriad, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.müsteriad, "", new { @style = "color:red" })

    </div>


    <div>
        <label>Müşteri Soyadı</label>
        @Html.TextBoxFor(m => m.müsterisoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.müsterisoyad, "", new { @style = "color:red" })


    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>



</form>
